@import url(https://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);

/*HEADER*/
.logo {
	width:90px;
}

header h1 {
	font-family:'satisfy', cursive;
	color:#ff827b;
	margin-top:20px;
}

.nav li {
	font-size:20px;
}

li a {
	color:#61aee6;
	font-family: 'Open Sans';
	font-weight: 400;
}

a:hover {
	color:#ff827b;
}

.bottom {
	top:20px;
}
/*END OF HEADER*/

/*JUMBOTRON*/
.jumbotron {
	background-image: url(../image/hero.jpg);
	background-size: cover;
	background-position: center;
	height:450px;
}
.jumbotron h2 {
	font-family: 'Open Sans';
	font-weight: 300;
	color:#fff;
}
.thumbs{
	background-color: #bfbfbf;
}

.thumbs p {
	font-weight: 500;
	font-family: 'open sans';
}

footer {
	background-color: #1a1a1a;
}
address {
	color:#fff;
}
.top {
	margin-top: 20px;
}
i {
	color:#fff;
}


@media (max-width:1400px) {
	.footlogo {
		border-right: solid 1px #fff;
	}
}
@media (min-width:992px) and (max-width:1400px) {
	.social {
		border-left:solid 1px #fff;
	}
}
@media (max-width:991px) {
	.social {
		text-align: center;
	}
	.social span {
		display:none;
	}
	.social a {
		font-size: 3em;
		margin:0px 10px 0px 10px;
	}
	h3 {
		font-size: 3em;
	}
	.thumbs p {
		font-size: 2em;
	}
	

}
@media (max-width:767px) {
	.bottom {
		top: 0;
	}
}